.menuDetail {
    display: flex;
    background-color: #e8e8e8;
    justify-content: space-around;
    height: 100%;
}

.icon img {
    margin-top: 15px;
    width: 35px;
}

p {
    margin-left: -35px;
}

#img3 {
    width: 35px;
    height: 35px;
}